.search {
    display: flex;
    width: 100%;
    margin: 10px;
}
.search input[type=text] {
    width: 100%;
    font-size: 20px;
    padding: 0 6px;
    color: #474747;
    border: 2px solid #474747;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.search button[type=submit] {
    padding: 10px 20px;
    font-size: 16px;
    color: #FFF;
    background: #474747;
    border: 2px solid #474747;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}